.header {
    display: none;
    padding: 0% 23% 2% 0%;
    z-index: 1000;
    position: sticky;
}

.menu-list {
    border-top: 3px solid #dcb713;
    background-color: #204020;
    margin-left: -39%;
    padding-top: .5%;
    z-index: 000;
    overflow: hidden;
    font-size: large;
    width: 102%;
    height: 5%;
    position: fixed;
    top:0;
    text-align: center;
}
.menu-btn {
    position: fixed;
    right: 10%;
    z-index: 2000;
}
.menu-btn {
    display: inline-block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #dcb713;
    text-decoration: none !important;
    
}

.head {
    position: fixed;
    background: rgba(0, 0, 0, 1.0);
    border-top: 3px solid #dcb713;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 2%;
    align-items: center;
    width: 101%;
    margin-left: -1%;
    z-index: 1000;
    font-size: large;
}
.nav {
    grid-column: 1/12;
    display:flex; 
    /*padding:10px 10px 10px 10px; */
    justify-content:space-evenly;
    justify-items:center;
}
/*This is the css style sheet used for the index page and the animals page*/

h1 {
    background-color: #204020;
    color: yellow;
    text-decoration-color: white;
    text-align: center;
}

h2 {
    text-align: center;
    font-size:xx-large;
    color: yellow;
    
}


body {
    background-color: #204020;
    color: #FFFFFF;
}

.item1 { grid-area: header; }
.item2 { grid-area: img; }
.item3 { grid-area: li; }

.grid-container {
    
    display: grid;
    grid-template-areas: 'img' 'header' 'li li li li';
    padding-top: 1%;
}

/*For the use of small media I used % signs here*/
.column {
    float: left;
    text-align: center;
    color: white;
    background-color: #204020;
    width: 33.33%;
    height: 33.33%;
    padding-top: 6%; 
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
    font-size: larger;
    padding-left: 10px;
}

a:visited{
    color: yellow;
}

ul{
    text-align: center;
}

li {
    display:flex;
    color: white;
    display: inline;
    font-size: x-large;
    padding-right: 8%
}

/*For the use of small media I used % signs here*/
form {
    position: absolute;
    padding-bottom: 0%;
    right: 5%; /*For the use of small media I used % signs here*/
    color: yellow;
}

/*For the use of small media I used % signs here*/
p {
    padding-top: 3%;
    font-size: x-large;
    text-align: center;
}
